# User Auth
AUTH_SECRET="secret"
AUTH_GOOGLE_ID="googid"
AUTH_GOOGLE_SECRET="googsecret"
AUTH_TRUST_HOST="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000" # Legacy for resend

# Mail
AUTH_RESEND_KEY="secret"

# Database
DATABASE_URL="postgresql://user:pass@host:port/dbname"

# S3
MINIO_URL="url"
MINIO_BUCKET="bubblymaps"
MINIO_USER="user"
MINIO_PASS="pass"

# Bubbly Maps API
APP_VERSION="v5.0.3"
API_VERSION="v6"
APP_URL="http://localhost:3000"
API_TOKEN="secret"

# Logging
DISCORD_WEBHOOK_URL="url"

# Extras

RESERVED_USERNAMES=["admin","administrator","root","system","moderator","support","staff","api", "bubbly", "bubblymaps", "bot"]